//浏览器重置样式

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, span, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,input,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;

}
html, body{
  //line-height: 1;
  font-size: 12px;
}
ol, ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
q, blockquote {
  quotes: none;
}
img{
  border: none;
}
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block;
}
i{
  font-style: normal;
}
a{
  color: #666;
  text-decoration: none;
  &:hover{
    text-decoration: none;
    color: #35b5ff;
  }
}
html, body {
  width: 100%;
  height: 100%;
  padding: 0;
 /* overflow: hidden;*/
}
#header{
  width: 100%;
  height: 60px;
  background: url("/images/nav.png") #0e7ac9 no-repeat center center;
  box-sizing: border-box;
     .logo{
       height: 60px;
       display: inline-block;
         .logo_pic{
           width: 390px;
           height: 60px;
           margin: {
             top: 4px;
             left: 10px;
           };
           display: inline-block;
           background: url("/images/header_logo.png") no-repeat left center;
}        }
     .logo_text{display: none;}
     .nav{
        color: white;
        position: absolute;
        right: 285px;
        top: 20px;
        z-index: 20;
        margin: 0;
        float: right;
        ul{
          li{
            width: 115px;
            font-size: 18px;
            float: left;
            list-style-type: none;
            margin: 0;
            position: relative;
            padding: 0;
            .caret{
              border-top-color: white;
              border-bottom-color: white;
            }
            .more{
              width: 33px;
              height: 22px;
              fill: white;
            }
          }
        }
        a{
          color: white;
        }
      }
     .user_right{
         float: right;
         width: 24%;
         margin-top: 14px;
       .search{
         position: relative;
         width: 190px;
         float: left;
         /* position: absolute;
          z-index: 25;
          top: 10px;
          right: 15px;*/
         input{
           width: 100%;
           background-color: #14599f;
           color: #d3dbe3;
           border: 1px solid #0975bf;
           border-radius: 20px;
           padding-left: 15px;
         }
         .icon-search{
           position: absolute;
           z-index: 25;
           right: -10px;
           top: 20%;
         }
       }
       .set{
         float: right;
         .set_one{
            margin-top: 5px;
          }
         a{
           img{
             vertical-align:middle;
           }
         }
         svg{
           fill: white;
           width: 33px;
           height: 18px;
         }
         .set_pic{
           margin: {
             right: 20px;
           };
           img{
             width: 36px;
             height: 36px;
             border-radius: 50%;
           }
         }
       }
      }
    }
#content{
  background-color: #eef1f7;
  .content-header{
    height: 58px;
    line-height: 58px;
    box-shadow: 0 0 8px 0px rgba(16,40,87,0.08);
    background-color: white;
    border: 1px solid #d3dbe3;
    .header-title{
      margin: {
        left: 15px;
      };
      font:{
        size: 18px;
        weight: bold;
      }
      color: #029be5;
      i{
        vertical-align:-3px;
        &img{

        }
      }
    }
    .title-icon{
      float: right;
      a{
        margin: {
        right: 20px;
      };
      }
      .revoke{
        display: inline-block;
        width: 41px;
        height: 58px;
        background: url("/images/title_icon.png") no-repeat scroll 0px 7px;
      }
      .relay{
        display: inline-block;
        width: 45px;
        height: 58px;
        background: url("/images/title_icon.png") no-repeat scroll -68px 7px;
      }
    }
  }
  .content-body{
   margin: {
     top: 30px;
   };
    box-shadow: 0 0 8px 0px rgba(16,40,87,0.08);
    background: white;
    border: 1px solid #d3dbe3;
    .row_full {
      margin-left: -1px;
      .col-md-12{
        height: 43px;
        line-height: 43px;
        background-color: #f7f8fa;
      }
      .heading-a{
        color: #333333;
        font: {
          size: 16px;
          weight: bold;
        };
        &:before{
         content: '';
          width: 5px;
          height: 30px;
          background-color: #029be5;
          display: inline-block;
          vertical-align: -9px;
          margin: {
            right: 12px;
          };
        }
      }
    }
    .line-code{
      float: left;
    }
    .news-time{
      .time-sm{
        width: 30%;
        float: left;
        .time-content{
          margin-top: 12px;
          margin-left: 40px;
          a{
            color: #029be5;
            font:{
              size: 14px;
            };
            &.black{
              color: #0e0e0e;
            }
          }
          .time-dates{
            color: #8ea5c3;
            margin: {
              top: 10px;
            };
            font: {
              size: 14px;
            };
            .time{
              margin: {
                left: 4px;
              };
              &:before{
                content: '';
                width: 3px;
                height: 3px;
                border-radius: 50%;
                background-color: #8ea5c3;
                display: inline-block;
                vertical-align: 2px;
                margin: {right: 4px;};
              }
            }
          }
        }
        .time-title{
          color: white;
          width: 22px;
          height: 80px;
          text-align: center;
          background-color: #029be5;
          float: left;
          padding: 0 3px 0 2px;
          WRITING-MODE:tb-rl;
          font-size: 14px;
        }
        li{
          height: 80px;
           background-color: #f7f8fa;
          border:1px solid #d3dbe3;
          margin-top: 18px;
        }
        .fa-fenge{
          border: 0;
          margin-top: 0;
          background-color:transparent;
        }
      }
    }

    .fenge{
      width: 100%;
      li{
        float: left;
        width: 40%;
        &:nth-of-type(2){
          float: right;
        }
      }
    }
  }
  /*表格*/
  .table{
    margin: 20px 35px;
   .table-head{
     height: 50px;
     margin: 0 2px;
     padding: 20px 0;
     border: 1px solid #cfd5de;
     .table-search{
       width: 199px;
       position: relative;
       float: left;
       i{
         position: absolute;
         right: -9px;
         top: 6px;
       }
         .search{
           fill:#96abc7;
           width: 20px;
           height: 18px;
         }
     }
     .table-btn{
       margin-left: 228px;
       margin-top: -2px;
       a{
         width: 48px;
         height: 32px;
         display: inline-block;
         &:nth-of-type(1){
           background: url("/images/table.png") no-repeat scroll 0px 1px;
         }
         &:nth-of-type(2){
           background: url("/images/table.png") no-repeat scroll -59px 1px;
         }
         &:nth-of-type(3){
           background: url("/images/table.png") no-repeat scroll -117px 1px;
         }
       }
     }
   }
    .table-body{
      table{
        text-align: left;
        width: 100%;
        border-collapse: collapse;
        clear: both;
         thead{
           font-size: 14px;
           color: #333333;
           background-color: #cfd5de;
           th{
             vertical-align: middle;
             text-align: center;
           }
           tr{
             height:43px;
           }
         }
         tbody{
          font-size: 14px;
          color: #333333;
          .input .checked-none[data-style="checked"] {
            display: none;
          }
          .input .checked-none[data-style="checked"] + label {
            display: inline-block;
            width: 20px;
            height: 20px;
            border: 1px solid #ddd;
            background-color: #fff;
            overflow: hidden;
          }
          .input .tick {
            display: inline-block;
            width: 20px;
            height: 20px;
            border: 1px solid #076dc2;
          }
           td{
             min-height: 45px;
             border-bottom: 1px solid #ddd;
           }
          /* tr{
            height: 43px;
            border-bottom: 1px solid #cfd5de;
            &:nth-of-type(even){
              background-color: #eef1f7;
            }
            td{
               vertical-align: middle;
               text-align: center;
               min-height: 45px;
              &.num{
                .input{
                  float: left;
                   width: 40%;
                  border-right: 1px solid #cfd5de;
                }
                span{
                  width: 40%;
                }
              }
              &.text{
                span{
                  overflow:hidden;
                  text-overflow:ellipsis;
                  display:-webkit-box;
                  -webkit-box-orient:vertical;
                  -webkit-line-clamp:2;
                  float: left;
                }
              }
            }
          }
           td{
             padding: 0;
             height: 100%;
           }*/
        }
      }
    }
  }
}
/*文本框颜色*/
input::-webkit-input-placeholder { /* WebKit browsers */
  color: #d3dbe3;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #d3dbe3;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #d3dbe3;
}
input:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #d3dbe3;
}
colgroup {
  display: table-column-group;
}
thead {
  display: table-header-group;
}
tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}